.modal{
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 1px #eee;
    padding: 15px;
    box-sizing: border-box;
    left: 33%;
    top: 30%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

@media(min-width:600px){
    .modal{
        width: 500px;
        left: calc( 50% -250px);
    }
}