.Toolbar{
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    direction: rtl;
}

.Toolbar nav{
    height: 100%;
}

.helper{
    height:100%;
}

@media (max-width:499px){

.show{
     display: none;
}
   
}