.Button{
  padding: 10px 16px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  font: Vazir, sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

 button:hover {
  outline: none;
  border: none;
   transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.danger{
    background-color: #FCD8D8;
    color: #E93B3D;
}

.edit{
    color: #e9c601;
}

.success{
    background-color: #10b981
 
}

.toggle{
   background-color: #22c55e 

}

.login{
  background-color: #06b6d4;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.login:hover {
  background-color: #0891b2;
  transform: translateY(-2px);
}