.students{
    width: 80%;
    background: #FFFFFF;
    margin: 50px auto;
    border:  1px solid #eee;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);

    text-align: center;
    padding-bottom: 20px;

   
}

.student-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: auto;
}

.students label{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    direction: rtl;
    color: #63656b;
}

span{
    color: #000;
    margin-right: 5px ;
}

.students input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
    direction: rtl;
    outline: none;
}

.search-bar{
    width: 450px;
    margin-top: 70px;
}

input[type=number],input[type=email]{
    direction: ltr;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

@media(min-width:500px){
    .students{
        width: 450px;
    }
}